.wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.container {
  border: 1px solid var(--color-border);
  border-radius: 0.4rem;
  /* padding: 1rem; */
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 400px;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 0.8rem 1rem;
}
.header h2 {
  flex: 1;
}
/* .header button {
  margin: 0;
} */
.container p {
  margin: 2rem 1rem 1rem 1rem;
}
.container button {
  margin: 1rem;
}

.close {
  padding: 0.5rem;
  border-radius: 0.4rem;
  /* transition: 0.2s; */
  cursor: pointer;
}
.close:hover {
  color: var(--color-primary);
  background-color: var(--color-red);
}
