.container {
  display: grid;
  grid-template-columns: 3rem 1fr;
  margin-top: 1.4rem;
}

.container img {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

.comment {
  border: 1px solid var(--color-border);
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}
/*  ----- header ----- */
.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0.8;
  margin: 0.6rem 0rem;
}
.header h4 {
  padding: 0.2rem 0;
  border-radius: 0.2rem;
  cursor: pointer;
}
.header h4:hover {
  background-color: var(--color-bg);
  box-shadow: 0.4rem 0px 0px var(--color-bg), -0.4rem 0px 0px var(--color-bg);
}
.timestamp {
  font-size: 0.8rem;
  flex: 1;
}

.wrapper {
  position: relative;
}
.dropdown {
  cursor: pointer;
  display: flex;
  padding: 0.4rem;
  border: 1px solid var(--color-border);
  border-radius: 0.2rem;
  justify-self: end;
}
.dropdownContent {
  position: absolute;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.4rem;
  background-color: var(--color-primary);
  z-index: 10;
  opacity: 1;
}

.dropdownContent button {
  margin: 0;
  background-color: transparent;
  padding: 0.2rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  font-weight: 400;
}
.dropdownContent button:hover {
  background-color: var(--color-bg);
}

/* ----- actions ----- */
.actions {
  grid-column: 2 / -1;
  height: fit-content;
  display: flex;
  gap: 0.6rem;
  margin-top: 0.4rem;
}
.actions button {
  margin: 0;
  background-color: transparent;
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 400;
}
.actions button:hover {
  background-color: var(--color-bg);
}

.hearted {
  color: white;
  background-color: var(--color-red) !important;
  border: none !important;
}

.addReply {
  grid-column: 2 / -1;
  width: 100%;
}
.addReply img {
  display: none;
}

/* ===== replies ==== */

.replies {
  margin-left: 3rem;
}

.icon {
  font-size: 1rem;
  display: flex;
  /* border: 2px solid red; */
}

@media screen and (max-width: 768px) {
  .actions button span {
    display: none;
  }
  .replies {
    margin-left: 2rem;
  }

  .actions button:hover {
    background-color: transparent;
  }
}
@media screen and (max-width: 500px) {
  .header {
    margin: 0.3rem 0;
  }
  .header h4 {
    font-size: 0.9rem;
  }
  .comment {
    font-size: 0.9rem;
    padding: 0rem 0.8rem;
  }
  .comment p {
    font-size: 0.9rem;
  }
  .actions {
    gap: 0.4rem;
  }
  .replies {
    margin-left: 1.4rem;
  }
}

/* Comment Edit  */

.editComment {
  background-color: var(--color-primary);
  border: 1px solid var(--color-border);
  border-radius: 0.4rem;
  padding: 1.6rem;
  width: 90vw;
  max-width: 720px;
}
.editComment img {
  display: none;
}
